@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

header {
    text-align: left;
    background-color: #fb9e62;
}

h1 {
    padding-left: 250px;
    text-align: left;
}

a {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    color: white;
}

h3 {
    padding: 10px;
    padding-left: 15px;
    margin: 0px;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    background-image: url("haikei.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: 0px;
    padding: 0px;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: ros;
    align-items: top;
}

.centens {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: top;
}

#cookie {
    position:absolute;
    top: 350px;
    left: 250px;
    width: 300px;
    height: 300px;
    background-image: url('cookie.webp');
    background-size: cover;
    margin: 0 auto;
    cursor: pointer;
    transition: width height 1s;
}

#cookie:active {
    width: 250px;
    height: 250px;
}

#count {
    padding-left: 350px;
    text-align: left;
    font-size: 24px;
    margin-top: 20px;
}

.item {
    position: absolute;
    top:100px; right: 150px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

.f-item a{
    position: relative;
    display: inline-block;
    width: 250px;
    height: 100px;
    padding: 10px 100px 10px;
    text-align: center;
    color: white;
    background-color: #fb9e62;
    border-radius: 3px;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.f-item a:hover {
    background-color: #ffbd95;
}

.f-item a.border {
    border: 6px outset #ff751f;
}

.f-item a:hover .fukidasi {
    display: inline;
}

.fukidasi {
    display:none;
    width:200px;
    position: absolute;
    top: 0px;
    left: -250px;
    padding: 16px;
    border-radius: 5px;
    background: #fb9e62;
    color: #fff;
    font-weight: bold;
}

.fukidasi::after {
    border-left: 12px solid #fb9e62;   /* 吹き出し口の幅・色 */
    border-top: 10px solid transparent;     /* 吹き出し口の高さ１／２ */
    border-bottom: 10px solid transparent;  /* 吹き出し口の高さ１／２ */
    right: -12px;                           /* 吹き出し口の位置調整 */
    top: 5%;                                /* 吹き出し口の縦位置 */
    content: "";                       /* コンテンツの挿入 */
    position: absolute;
}

h4 {
    color: #51f345;
}