@charset "UTF-8";  /*文字エンコーディングをUTF-8に指定 */

body{
    background-image: url('imagefolder/川B（背景）.png'); /*背景画像を指定 */
    background-size: cover;  /*画像をコンテナ全体に合わせて拡大縮小*/
    background-repeat: no-repeat;  /* 背景画像を繰り返さない*/
    background-position: center;  /* 背景画像を中央に配置*/
    margin: 0;  /* 要素の外側の余白を0に設定*/
    padding: 0;  /*要素の内側の余白を0に設定*/
    height: 100vh;  /*ピューボートの高さを100％に設定*/
}

.backbuttoncolor{
    position: relative;  /*新要素に対して相対的に位置を指定*/
    height: 40px; /* 高さを40ピクセルに設定*/
    width: 100%;  /*幅を100pxに設定 */
    background-color: rgb(252, 145, 106); /*背景色を指定*/

}
/*もどるボタンのスタイル*/
.backbutton{
    position: relative;  /*新要素に対して相対的に位置を指定*/
    top: 20%;   /* 上から20％の位置に配置*/
    left: 10px;    /*左から10ピクセルの位置に配置 */
    color: #FFF;  /*/テキストの色を白に*/
    /*線を消す*/
    text-decoration: none;  /*テキストの下線を消す*/

}

#stage1button {
    position: absolute;
    top: 300px;
    left: 300px;
    width: 5em;
    height: 3em;
    background-color: rgb(252, 145, 106);
    color: #FFF;
    border-radius: 8px;
    border: none;
    font-size: 40px;
}

#stage1button:hover {
    opacity: 0.5;
}

#stage2 {
    position: absolute;
    top: 300px;
    left: 600px;
    width: 5em;
    height: 3em;
    background-color: rgb(252, 145, 106);
    color: #FFF;
    border-radius: 8px;
    border: none;
    font-size: 40px;
}
#stage2:hover {
    opacity: 0.5;
}

#stage3 {
    position: absolute;
    top: 300px;
    left: 900px;
    width: 5em;
    height: 3em;
    background-color: rgb(252, 145, 106);
    color: #FFF;
    border-radius: 8px;
    border: none;
    font-size: 40px;
}

#stage3:hover {
    opacity: 0.5;
}

#message {
    position: absolute;
    left: 500px;
    margin-top: 20px;
    font-size: 32px;
    color: red;
}

#ebimoney {
    position: absolute;
    top: 10px;
    right: 10px;
}